@font-face {
    font-family: Roboto-regular;
    src:url("../fonts/RobotoCondensed-Regular.ttf");
}

body {
    margin: 0;
    height: 100%;

    background-color: black;
    
}

#wrapper {
    height: 100%;
    width: 100%;
    border-radius: 30px;
    box-sizing: border-box;
    padding-left: 20px;
    padding-right: 20px;
}

.top_text {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    font-family: Roboto-regular;
    font-size: 18px;
}

.top_text > img {
    height: 35px;
}


footer {
    padding-bottom: 20px;
    font-family: Roboto-Regular;
    
}
    


#login_register.css {
    display: none;
}