@font-face {
    font-family: Roboto-regular;
    src:url("../fonts/RobotoCondensed-Regular.ttf");
}

body {
    margin: 0;
    min-height: 100vh;
    background-color: black;
}

#wrapper {
    border-radius: 30px;
    box-sizing: border-box;
    padding-left: 20px;
    padding-right: 20px;
}

.top_text {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    font-family: Roboto-regular;
    font-size: 18px;
}

.top_text > img {
    height: 35px;
}

#login_register.css {
    display: none;
}